{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../components/question/macro.njk" import renderQuestion %}

{% set hideBackLink = true %}

{% block header %}
    {% include "../../partials/header.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <div>
            <h1 class="govuk-heading-l">{{ options.pageTitle }}</h1>

            <form method="post" action="{{ action }}">
                <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">

                {{ renderQuestion(options.fields['first_name']) }}
                {{ renderQuestion(options.fields['family_name']) }}
                {{ renderQuestion(options.fields['gender']) }}
                {{ renderQuestion(options.fields['date_of_birth']) }}

                {{ govukButton({
                    text: 'Save',
                    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
                }) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
